@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Readex Pro';
}

a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

a:hover {
    color: #131b14 !important;
    /* color: #212323; */
    text-decoration: none;
}

ul {
    list-style-type: none;
}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

/* CSS Snippet from W3schools: https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Style inputs with type="text", select elements and textareas */
input[type=message],
input[type=email],
input[type=text],
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
/* button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* width: 100%; } */

button[type=submit] {
    border-radius: 20px;
    display: block;
    position: relative;
    padding: 10px 20px;
    border: 2px solid rgb(70, 70, 70);
    /* Initial border */
    font-size: 1em;
    text-decoration: none;
    /* Removes underline */
    height: 60px;
    width: 30%;
    /* Set width to 100% */
    background-color: rgb(211, 211, 211);
    overflow: hidden;
    /* Ensure the content doesn't overflow the border */
    margin-left: auto;
    margin-right: auto;
}



/* When moving the mouse over the submit button, add a darker green color */
/* button[type=submit]:hover {
    background-color: #04AA6D;
} */

button[type=submit]:hover {
    background-size: 150% auto;
    animation: Gradient 4s ease infinite;
    background-image: linear-gradient(135deg, rgba(176, 107, 199, 0.7), rgba(83, 180, 200, 0.7));
}

button[type=primary]:hover {
    background-size: 150% auto;
    animation: Gradient 4s ease infinite;
    background-image: linear-gradient(135deg, rgba(176, 107, 199, 0.7), rgba(83, 180, 200, 0.7));
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Hide Streamlit Branding */
#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

header {
    visibility: hidden;
}

/* Style columns */
[data-testid="stHorizontalBlock"]:has(div.PortMarker) {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    border-radius: 15px;
    padding: 5% 5% 5% 10%;
}


/* button[kind="primary"] { */
/* background-color: #04AA6D; */

/* background-color: rgb(222, 213, 187); */
/* width: 100%; */
/* } */